.contact-form {
  width: 40%;
  background-color: rgb(238, 235, 235);
  border-radius: 5px;
  margin: 20px 60px;
}
label {
  font-size: 16px;
  margin-bottom: 10px;
}
.contact-btn {
  background-color: #03b97c;
  color: white;
  padding: 8px 20px;
  text-decoration: none;
  border: none;
  border-radius: 5px;
}
